<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!-- 初始化数据资源 -->
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://localhost:3306/h5_sql"/>
<property name="username" value="root"/>
<property name="password" value="19960213zx"/>

</bean>
<!-- 定义messageJDBCTemplate Bean 
property name与get set有关
-->
<bean id="messageJDBCTemplate" class="pers.zx.dao.MessageJDBCTemplate">
<property name="dataSource" ref="dataSource"/>

</bean>
</beans>